*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
}
body {
    background-color: hsl(0, 0%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* Container */
        .container{
            background-color: hsl(0, 0%, 0%);
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            border-radius: 50px;
            border: solid hsl(0, 0%, 30%);
            width: 390px;
            height: 625px;
            display: flex;
        }
    .box{
        margin: 0 auto;
        width: 380px;
        height: 600px;
    }
    
/* Display */
    .displayPanel{
        color: white;
        margin-top: 45px;
        width: 325px;
        padding-top: 15px;
        padding-bottom: 5px;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 45px;
        margin-bottom: 10px;
    }
    /* Secodry display */
        .secDisplay{
            background-color: hsl(0, 0%, 0%);
            color: rgba(255, 255, 255, 0.671);
            text-align: right;
            height: 50px;
            width: 100%;
            font-size: 1.3rem;
            border: none;
        }
    /* Primary display */
    .display{
        background-color: hsl(0, 0%, 0%);
        counter-reset: white;
        text-align: right;
        height: 70px;
        width: 100%;
        font-size: 3rem;
        border: none;
        }



/*Gereral Buttons Design */
        button {
            color: white;
            height: 70px;
            font-size: 2.5rem;
            border: none;
            border-radius: 50px;
            cursor: pointer;
        }
        button:active {
            transform: scale(0.95);
        }
        .buttonsTab{
            width: 325px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }
    /* Specific design */
    .operator {
        background-color: hsl(36, 100%, 50%);
        color: white;
    }
    .operator:hover{
        background-color: hsl(36, 100%, 55%);
        transition: all 0.1s ease;
    }

    .special{
        background-color: hsl(0, 0%, 40%);
    }
    .special:hover{
        background-color: hsl(0, 0%, 55%);
        transition: all 0.1s ease;
    }

    .numButton{
        background-color: hsl(0, 0%, 20%);
    }
    .numButton:hover{
        background-color: hsl(0, 0%, 25%);
        transition: all 0.1s ease;
    }

    #numZero{
        grid-column: 2 span;
        text-align: left;
        padding-left: 30px;
    }
    #clearButton:active{
        transition: all 0.5s ease;
        background-color: hsl(0, 0%, 80%);
        scale: 0.80;
    }

